<mat-expansion-panel  [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{formGroup.getRawValue().id ? 'Update':'Add'}} book borrow
        </mat-panel-title>
    </mat-expansion-panel-header>


    <div class="row form-group">
        <div class="col-12">
            <form class="row" [formGroup]="formGroup" (ngSubmit)="doSubmit()">

                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Name Reader</mat-label>
                        <mat-select formControlName="banDoc">
                            <mat-option *ngFor="let item of listReader1" [value]="item">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <app-inline-message [formName]="formGroup.get('banDoc')" [message]="'Name Reader'">
                        </app-inline-message>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Name Book</mat-label>
                        <mat-select formControlName="sach">
                            <mat-option *ngFor="let item of listBook1" [value]="item">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <app-inline-message [formName]="formGroup.get('sach')" [message]="'Name Book'">
                        </app-inline-message>
                    </mat-form-field>
                </div>


                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Date Borrow</mat-label>
                        <input matInput formControlName="date_borrow" type="date">
                        <app-inline-message [formName]="formGroup.get('date_borrow')" [message]="'Date Borrow'">
                        </app-inline-message>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Date Return</mat-label>
                        <input matInput formControlName="date_return" type="date">
                        <app-inline-message [formName]="formGroup.get('date_return')" [message]="'Date Return'">
                        </app-inline-message>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input matInput formControlName="soLuong" type="text" class="w-100">
                        <app-inline-message [formName]="formGroup.get('soLuong')" [message]="'Quantity'">
                        </app-inline-message>
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="trang_thai">
                            <mat-option [value]="0">
                                Active
                            </mat-option>
                            <mat-option [value]="1">
                                Inactive
                            </mat-option>
                        </mat-select>
                        <app-inline-message [formName]="formGroup.get('trang_thai')" [message]="'Status'">
                        </app-inline-message>
                    </mat-form-field>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{'List of borrow'}}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="table-responsive">
        <ngx-datatable
            [ngClass]="'material'"
            [columnMode]="'flex'"
            [columns]="columns"
            rowHeight="auto"
            [count]="items.length"
            [offset]="page.pageNumber"
            [limit]="page.size"
            [headerHeight]="50"
            [footerHeight]="50"
            [rows]="items"
            [externalPaging]="false"
            [messages]="{emptyMessage: 'Không có dữ liệu', totalMessage: 'bản ghi'}">
            <ng-container *ngFor="let col of columns">
                <ngx-datatable-column prop="{{ col.prop }}" name="{{ col.name }}" [flexGrow]="col.flexGrow">
                    <ng-template let-column="column" ngx-datatable-header-template>
                        {{ column.name }}
                    </ng-template>
                    <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template
                                 let-row="row">
                        <ng-container [ngSwitch]="col.prop">
                            <ng-container *ngSwitchCase="'index'">
                                {{ rowIndex + 1 + page.pageNumber * page.size }}
                            </ng-container>

                            <ng-container *ngSwitchCase="'date_return'">
                                {{ value | date: 'dd/MM/yyyy' }}
                            </ng-container>
                            <ng-container *ngSwitchCase="'date_borrow'">
                                {{ value | date: 'dd/MM/yyyy' }}
                            </ng-container>
                            <ng-container *ngSwitchCase="'trang_thai'">
                                {{ value == 0 ? 'Active' : 'Inactive' }}
                            </ng-container>

                            <ng-container *ngSwitchCase="'actions'" class="text-center">
                                <button class="btn btn-sm btn-outline-primary mg-r-2" type="button"
                                        title="Sửa" (click)="edit(row)">
                                    <span class="fe fe-edit-2"></span>
                                </button>
                                <button class="btn btn-sm btn-outline-danger mg-l-2" type="button"
                                        title="Xóa" (click)="delete(row.id)">
                                    <span class="fe fe-trash-2"></span>
                                </button>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <span title="{{ value }}">{{ value }}</span>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ngx-datatable-column>
            </ng-container>
        </ngx-datatable>
    </div>
</mat-expansion-panel>
